@use 'sass:math'

@use 'src/consts'
@use 'src/styles/media'
@use 'src/styles/theme'
@use 'src/styles/transition'

/* Image styles */
$crop-size: 240
$side: $crop-size / math.sqrt(2)
$rotate-deg: 45deg

$crop-size-sm: $crop-size / 1.4
$side-sm: $crop-size-sm / math.sqrt(2)

$crop-size-md: $crop-size / 1.2
$side-md: $crop-size-md / math.sqrt(2)

$image-cropper-top: 32px

$image-margin: 0.5em

// Text styles
$full-name-font-size: 3.75em

.cover-container
  align-items: center
  display: flex
  flex-direction: column
  flex-grow: 1
  flex-shrink: 0
  height: 100%
  justify-content: space-around

.image-cropper
  align-items: center
  display: flex
  flex-shrink: 0 // By default, Chrome sets flex-shrink to 1 (:face-palm:)
  height: #{$side}px
  overflow: hidden
  position: relative
  transform: rotate($rotate-deg)
  width: #{$side}px

.me
  left: -24px
  position: relative
  transform: rotate(-$rotate-deg)
  width: 304px

.full-name
  @include theme.which-theme('color', 'header')
  @include transition.transition(consts.$transition-duration, color)
  font-size: $full-name-font-size
  letter-spacing: 8px
  text-align: center
  text-transform: uppercase

.short-bio
  @include theme.which-theme('color', 'content')
  @include transition.transition(consts.$transition-duration, color)
  text-align: center

@include media.respond-below(sm)
  .full-name
    font-size: $full-name-font-size / 1.3

  .image-cropper
    // top: $image-cropper-top / 2
    height: #{$side-sm}px
    width: #{$side-sm}px

@include media.respond-between(sm, md)
  .image-cropper
    height: #{$side-md}px
    width: #{$side-md}px

@include media.respond-above(lg)
  .image-cropper
    margin-top: $image-margin

  .short-bio
    // compensation for the top margin in cropper
    margin-top: -$image-margin
