$themes: (
  light: (
    app-background: #ffffff,
    content: #4d4d4d,
    content-header: #1a1a1a,
    content-link: #ff5947,
    diamond-colour-1: #ff5947,
    diamond-colour-2: #ffdeda,
    diamond-colour-3: #ffd436,
    // diamond-colour-4 is #10dde3 in both themes
    diamond-colour-5: #39d72a,
    diamond-colour-6: #e3d510,
    dot-colour: #ffd436,
    icon-colour: #ff5947,
    main-button-background: #ffd436,
    side-button-colour: #ff5947,
    header: #0a0404,
    short-name: #0a0404,
    toggle-container-background: #10dde3,
    toggle-thumb-background: #ffd700
  ),

  dark: (
    app-background: #0a0404,
    content: #ebebeb,
    content-header: #10dde3,
    content-link: #10dde3,
    diamond-colour-1: #10dde3,
    diamond-colour-2: #10dde3,
    diamond-colour-3: #10dde3,
    // diamond-colour-4 is #10dde3 in both themes
    diamond-colour-5: #10dde3,
    diamond-colour-6: #10dde3,
    dot-colour: #ebebeb,
    icon-colour: #10dde3,
    main-button-background: #10dde3,
    side-button-colour: #10dde3,
    header: #10dde3,
    short-name: #ffffff,
    toggle-container-background: #01528c,
    toggle-thumb-background: #f7f7f7
  )
)
