$themes: (
  light: (
    app-background: #ffffff,
    short-name: #0a0404,
    toggle-container-background: #10dde3,
    toggle-thumb-background: #ffd700
  ),

  dark: (
    app-background: #0a0404,
    short-name: #ffffff,
    toggle-container-background: #01528c,
    toggle-thumb-background: #f7f7f7
  )
)
