@use 'src/consts'
@use 'src/styles/theme'
@use 'src/styles/transition'

.header-container
  align-items: flex-end
  background: transparent
  display: flex
  height: consts.$header-height
  width: 100%

.header-title
  display: flex
  justify-content: space-between

.short-name
  @include theme.which-theme('color', 'short-name')
  @include transition.transition(consts.$transition-duration, color)
  letter-spacing: 12px
  text-transform: uppercase
